html {
  min-height: 100%;
  color: #2c3e50;
  background: linear-gradient(0deg, rgba(87,239,255,1) 0%, rgba(41,167,235,1) 100%);;
  transition: background-color 1s ease-in-out, filter 1s ease-in-out;

  &.cyan { background-color: #42cef5; }
  &.blue { background-color: #4251f5; }
  &.purple { background-color: #ce42f5; }
  &.pink { background-color: #f5429e; }
  &.red { background-color: #f54242; }
  &.yellow { background-color: #f5b342; }
  &.green { background-color: #78f542; }
}

body {
  margin: auto;
}

#app {
  font-family: Gilroy, Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  color: rgba(0, 0, 0, .5);
  background: #addbe8;
  padding: 7px 14px;
  margin-right: 5px;
  border-radius: 6px;
  transition: filter .3s ease-in-out;
  &.save { background: #43ddae; }
  &.cancel { background: #d9aaaa; }
  &:hover { filter: brightness(1.1); }

  &.sm {
    font-size: .75rem;
    font-weight: 500;
    padding: 3px 5px;
    margin: 5px 5px auto auto;
  }
}
